body, html {
  height: 100%;
}

.bg img {
  opacity: .75;
  width: 100%;
  max-height: 1000px;
}
/* 
.bg { 
  /* The image used */
  /* background-image: url("../../assets/dog1.jpg"); */

  /* Full height */
  /* max-height: 500px;
  width: 100%;  */

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }*/


