<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color='primary' style='navbarr'>
    <img src="../favicon.ico" class="nav-logo">
    <button mat-raised-button color="accent" class="nav-button" [routerLink]="['/home']">Home</button>
    <button mat-raised-button color="accent" class="nav-button">About</button>
    <button mat-raised-button color="accent" class="nav-button">Contact Us</button>
</mat-toolbar>

<router-outlet></router-outlet>

<app-footer></app-footer>
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="favicon.ico">
</div> 

<router-outlet></router-outlet> -->