
<div class=container>
  <mat-card>
    <mat-card-title>
        <div class="homebtn"> <button mat-raised-button color="warn" (click)="find()" >FIND!</button> </div>
    </mat-card-title>
    <img class="small-items img-responsive" src="https://img.icons8.com/metro/1600/search.png" alt="Card">
    
  </mat-card>

  <mat-card>
      <mat-card-title>
          <div class="homebtn"> <button mat-raised-button color="warn" [routerLink]="['/find']">ADOPT!</button> </div>
        </mat-card-title>
        <img class="small-items" src="https://logopond.com/logos/84c3fb9e235a97afd50b0ea0fa798c77.png" alt="Card">
  </mat-card>

  <mat-card>
      <mat-card-title>
         <div class="homebtn"> <button mat-raised-button color="warn" [routerLink]="['/report']" >REPORT!</button> </div>
        </mat-card-title>
        <img class="small-items" src="https://www.ashford.gov.uk/media/2445/report-it-stamp.png" alt="Card">
  </mat-card>
</div>


<!-- 
<div class="container">
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
    
  </div>
</div>
</div> -->